name: build

on:
  push:
    branches: [ 'master' ]

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Install build dependencies
        run: sudo apt update && sudo apt install clang-20 llvm-20 lld-20

      - name: Build
        run: ./build.sh
        env:
          CLANG: clang-20
          STRIP: llvm-strip-20

      - uses: actions/upload-artifact@v4
        with:
          name: natives
          path: build/*
